html, body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--black);
    height: auto;
}

html {
    background-image: linear-gradient(130.9deg, #281483 4.3%, #8F6ED5 60.86%, #D782D9 92.4%);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: auto;
    padding-bottom: 40px;
}

